@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  
}

/*.header .footer{display: flex;
}*/

.left-links{display:flex;
justify-content:flex-start ;
gap: 15px;


}

.right-links {display: flex;
justify-content: flex-end;
gap: 15px;

}

ul {list-style-type: none;
}

.content {align-self: center;}

.buttons {display: flex;
gap: 10px;
margin-top: 5px;
justify-content: center;
margin: 10px;}

div .input{display: flex;
  justify-content: center}

  .footer {background-color: #eeeeee;
  align-items: flex-end;
  

}

  a {text-decoration: none;
  color: rgba(23, 22, 22, 0.441);}

  .footer {display: flex;
  justify-content: space-between;}

  .header {display: flex;
  justify-content: space-between;
}