body {
  background: #eee;
  font-family: sans-serif;
  margin: 16px auto;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;

}

.title {
  background: #e3f4ff;
   font-size: 16px; font-weight: bold; margin: 12px; 

}

.content {
  background: #e3f4ff; margin: 12px ; padding:16px;
}

.button-container {
  background: #e3f4ff; margin: 12px; padding-left:150px; padding-right: 150px; padding-top: 15px; padding-bottom: 15px; text-align: center;}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  display: block;
margin: 0px;
}